from abc import ABC, abstractmethod
from dependency.core import Component, component
from {{ module.path }} import {{ module.name }}

class {{ component.name }}(ABC):
    @abstractmethod
    def method(self) -> None:
        pass

@component(
    module={{ module.name }},
    interface={{ component.name }},
)
class {{ component.name }}Component(Component):
    pass