from dependency.core import provider, providers
from {{ module.path }} import {{ component.name }}, {{ component.name }}Component

@provider(
    component={{ component.name }},
    imports=[{% for import in provider.imports %}
        {{ import }}Component,{% endfor %}
    ],
    provider=providers.Singleton,
)
class {{ provider.name }}({{ component.name }}):
    def __init__(self,
            cfg: dict
            ) -> None:
        super().__init__()
        {% for import in provider.imports %}
        self.__{import}:  =

    def method(self):
        pass